[includeIf "gitdir:~/Git/personal/"]
	path = ~/.gitconfig-personal
[includeIf "gitdir:~/Git/work/"]
	path = ~/.gitconfig-work
[core]
    excludesfile = ~/.gitignore

[credential]
	helper = cache --timeout=600
[user]
	name = Samreen Zarroug
	email = samreen.zarroug@thoughtworks.com
