[includeIf "gitdir:~/Git/personal/"]
	path = ~/.gitconfig-personal
[includeIf "gitdir:~/Git/work/"]
	path = ~/.gitconfig-work
[core]
    excludesfile = ~/.gitignore

[init]
	templatedir = /Users/samreenzarroug/.git-template
[credential]
	helper = cache --timeout=600
